<h2>Attendees</h2>
<br>
<% if @event %>
  <%="#{@event.name}'s Attendee List"%>
<% else %>
  <%= Atendee List %>
<% end %>
  <ol>
  <% @at_events.each do |attendee| %>
    <% this_user = User.find_by(id: attendee.user_id)%>
    <li>
      <%=link_to "Name: #{this_user.name}, Username: #{this_user.id}, Status: #{Status.find(attendee.status_id).name}}", event_attending_event_path(@event, attendee) %>
      <% if @event.datetime > DateTime.now %>
        <%= button_to 'x', attendee, :method => :delete %>
      <% end %>
    </li>
  <% end %>
  </ol>

