<h2>Attendees</h2>
<br>
<% if @event %>
  <%="#{@event.name}'s Attendee List"%>
<% else %>
  <%= Attendee List %>
<% end %>
  <ol>
  <% @at_events.each do |attendee| %>
      <li>
      <%=link_to "Name: #{attendee.user.name}, User ID: #{attendee.user_id}, Status: #{attendee.status.name}", event_attending_event_path(@event, attendee) %>
      <% if future_date? %>
        <%= button_to 'x', [@event, attendee], :method => :delete %>
      <% end %>
    </li>
  <% end %>
  </ol>

