<p>Thank you for signing up with Simple Event Tracker!</p>


<p>Navigate to 'Home' to see your events, or 'Events' to see the events you could be part of!</p>

<p>Note: if you are an Admin you will have differeing views!</p>