<h2>Upcoming Events</h2>

<% if admin? %>
  <%= button_to "Add New Event", new_event_path, :method => 'get' %>
  <br> 
<% end %>

<br>
<ol>
  <% unless @events.nil? %>
    <% @events.each do |e|%>
      <% if e.datetime > DateTime.now%>
        <li><%= link_to "#{e.name} - #{e.category.name} - #{e.datetime}", event_path(e) %></li>
      <% end %>
    <% end %>
  <% end %>
</ol>

<h2> Past Events </h2>

<ol>
  <% unless @events.nil? %>
    <% @events.each do |e|%>
        <% if e.datetime < DateTime.now%>
            <li><%= link_to "#{e.name} - #{e.category.name} - #{e.datetime}", event_path(e) %></li>
        <% end %>
    <% end %>
  <% end %>
</ol>
