<h2>Upcoming Events</h2>

<% if admin? %>
  <%= button_to "Add New Event", new_event_path %>
  <br> 
<% end %>

<br>
<ol>
<% @events.each do |e|%>
    <% binding.pry %>
    <% if future_date?%>
        <li><%= link_to "#{e.name} - #{e.category} - #{e.datetime}", event_path(e) %></li>
    <% end %>
<% end %>
</ol>

<h2> Past Events </h2>

<ol>
<% @events.each do |e|%>
    <% binding.pry %>
    <% if e.datetime < DateTime.now%>
        <li><%= link_to "#{e.name} - #{e.category} - #{e.datetime}", event_path(e) %></li>
    <% end %>
<% end %>
</ol>
