<h2>Upcoming Events</h2>

<% if admin? %>
  <%= button_to "Add New Event", new_event_path, :method => 'get' %>
  <br> 
<% end %>

<%= get_errors %>

<br>
<ol>
  <% unless @events.nil? %>
    <% @events.each do |@event|%>
      <% if @event.future_date?%>
        <li><%= link_to "#{@event.name} - #{@event.category.name} - #{@event.datetime}", event_path(@event) %></li>
      <% end %>
    <% end %>
  <% end %>
</ol>

<h2> Past Events </h2>

<ol>
  <% unless @events.nil? %>
    <% @events.each do |@event|%>
        <% if !@event.future_date?%>
            <li><%= link_to "#{@event.name} - #{@event.category.name} - #{@event.datetime}", event_path(@event) %></li>
        <% end %>
    <% end %>
  <% end %>
</ol>
