<h2>Upcoming Events</h2>

<% if admin? %>
  <%= button_to "Add New Event", new_event_path, :method => 'get' %>
  <br> 
<% end %>

<%= get_errors %>

<br>
<ol>
  <% link_to_events(@future_events) %>
</ol>

<h2> Past Events </h2>

<ol>
  <% link_to_events(@past_events) %>
</ol>
