<a class = 'navbar-btns' href = "<%= events_path %>"/> Events </a>
<a class = 'navbar-btns' href = "<%= categories_path %>"/> Categories </a>
<%= link_to 'Log Out', logout_path, method: 'delete', class: 'navbar-btns' %>